/* app */
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: rgb(255, 255, 255);
  text-align: center;
  margin: 90px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

/* Todo */
.header {
  margin: 32px 0;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(0, 0, 0);
}

.name {
  margin: 32px 10px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(0, 100, 42);
}

/* TodoForm */
.todo_form {
  margin-bottom: 32px;
}

.input-add {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid rgb(0, 119, 255);
  width: 320px;
  background: transparent;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.input-edit {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgb(0, 119, 255);
  box-shadow: 10px 5px 5px rgba(134, 134, 134, 0.514);
  width: 320px;
  background: transparent;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.edit-button,
.add-button {
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: rgb(36, 75, 247);
  color: #fff;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* TodoList */
.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(80, 129, 84) 70%,
    rgb(206, 200, 199) 100%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 16px;
  border-radius: 5px;
  width: 380px;
}

.todo-complete {
  text-decoration: line-through;
  opacity: 0.4;
  align-items: center;
  margin: 4px auto;
  background: rgb(36, 75, 247);
  padding: 16px;
  border-radius: 5px;
  width: 380px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(105, 105, 105);
}

.edit-icon {
  color: rgb(0, 183, 255);
}
